<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  
  <header class="article-header">
    
    <% if (post.link || post.title){ %>
      <% if (post.link){ %>
        <h1 itemprop="name">
          <a class="article-title" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
        </h1>
      <% } else if (post.title){ %>
        <% if (index){ %>
          <h1 >
            <a itemprop="name" class="article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
          </h1>
        <% } else { %>
          <h1 class="article-title" itemprop="name">
            <%= post.title %>
          </h1>
        <% } %>
      <% } %>
    <% } %>
    <% if(showDate) { %>
      <time class="article-date" datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date) %></time>
    <% } %>

    <% if (post.categories && post.categories.length){ %>
      <div class="article-category">
      <%- list_categories(post.categories, {
        show_count: false,
        style: 'none',
        separator: '►'
      }) %>
      </div>
    <% } %>
  </header>
  <div class="article-body" itemprop="articleBody">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <a class="button button-outline" href="<%= url_for(post.path) %>#more">Read more</a>      
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>
  <% if(is_post()) { %>
    <footer class="article-footer">
      <aside>
        <ul class="article-share">
          <li class="article-share-twitter">
            <a href="https://twitter.com/intent/tweet?url=<%= url %>&amp;text=<%= page.title %>&amp;related=<%= config.twitter %>" id="twitter-share-link">
              <%- partial('_img/twitter.svg') %>
            </a>
            <script async>
              (function(d, a){
                var me = d.getElementById(a), href = me.getAttribute('href');
                me.onclick = function(e){
                  e.preventDefault();
                  window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C>A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open(href,'','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');
                };
              }(document, 'twitter-share-link'));
            </script>
          </li>
          <li class="article-share-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" id="facebook-share-link">
              <%- partial('_img/facebook.svg') %>
            </a>
            <script async>
            (function(d, a){
              var me = d.getElementById(a), href = me.getAttribute('href');
              me.onclick = function(e){
                e.preventDefault();
                window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C>A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open(href,'','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');
              };
            }(document, 'facebook-share-link'));
            </script>
          </li>
        </ul>
      </aside>
      <% // disabled tag %>
      <% if (false && post.tags && post.tags.length){ %>
        <%- list_tags(post.tags, {
          show_count: false,
          class: 'article-tag'
        }) %>
      <% } %>
    </footer>
  <% } %>

  <% if (!index && is_post() && config.disqus_shortname){ %>
    <section id="comments" class="comments">
      <div id="disqus_thread"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = '<%= config.url + url_for(page.path) %>';  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = '<%= config.url + url_for(page.path) %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//unsweets-log.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
    <% } %>
</article>
