<header class="page-header">
  <div class="container">
    <% if(is_home()) { %>
      <h1 class="page-title"><%= config.title %></h1>
      <h2 class="page-description"><%= config.subtitle %></h2>
    <% } else { %>
      <p class="page-title"><a href="<%= url_for() %>"><%= config.title %></a></p>
      <p class="page-description"><%= config.subtitle %></p>
    <% } %>
    <% if(config.menu) { %>
        <nav class="page-nav">
          <ul>
            <% config.menu.forEach(item => { %>
              <li><%- link_to(item.href, item.name, {
                class: item.name.toLowerCase()
              }) %></li>
            <% }) %>
            <% if(config.twitter) { %>
              <li><%- link_to('https://twitter.com/' + config.twitter, 'Twitter', {
                  class: 'twitter'
                }) %></li>
            <% } %>
            <% if(config.github) { %>
              <li><%- link_to('https://github.com/' + config.github, 'Github', {
                class: 'github'
              }) %></li>
            <% } %>
            <% if(config.feed) { %>
              <li><%- link_to(`/${config.feed.path}`, 'Feed', {
                class: 'feed'
              }) %></li>
            <% } %>
          </ul>
        </nav>
    <% } %>
  </div>
</header>
