<header class="page-header">
  <div class="container">
    <% if(is_home()) { %>
      <h1 class="page-title"><%= config.title %></h1>
      <h2 class="page-description"><%= config.subtitle %></h2>
    <% } else { %>
      <p class="page-title"><a href="<%= url_for() %>"><%= config.title %></a></p>
      <p class="page-description"><%= config.subtitle %></p>
    <% } %>
    <% if(config.menu) { %>
      <nav class="page-nav">
        <ul>
          <% config.menu.forEach(item => { %>
            <li>
              <a href="<%= item.href %>" class="<%= item.name.toLowerCase() %>"> 
                <%- partial(`_img/${item.name.toLowerCase()}.svg`) %>
              </a>
            </li>
          <% }) %>
          <% if(config.feed) { %>
            <li>
              <a href="<%= `/${config.feed.path}` %>" class="feed"> 
                <%- partial('_img/feed.svg') %>
              </a>
            </li>
          <% } %>
        </ul>
        <div class="search-view">
          <%- search_form({
            text: 'Search',
            button: partial('_img/search.svg')
          }) %>
        </div>
      </nav>
    <% } %>
  </div>
</header>
