<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="canonical" href="<%= url %>">
  <% const dev = env.env !== 'production' %>
  <% const host = dev ? 'http://localhost:3001/' : '/' %>
  <% if(!dev) { %>
    <link rel="stylesheet" href="<%= `${host}css/main.css` %>">
  <% } %>
  <link href="//fonts.googleapis.com/css?family=Quicksand:300|Inconsolata" id="google-fonts">
  <% if(config.feed) { %>
  <%- feed_tag(`/${config.feed.path}`, {
    type: config.feed.type
  }) %>
  <% } %>
  <script async>
  document.getElementById('google-fonts').rel = 'stylesheet'
  </script>
  <title>
    <% if(!is_home()) { %>
      <%= page_title() + ' - ' + config.title %>
    <% } else { %>
      <%= config.title %>
    <% } %>
  </title>
</head>
<body>
  <div id="wrapper" class="wrapper">
    <%- partial('_partial/header') %>
    <main class="page-contents">
      <div class="container">
        <%- body %>
      </div>
    </main>
    <%- partial('_partial/footer') %>  
  </div>
  <script src="<%= `${host}js/main.js` %>"></script>  
</body>
</html>
